ENVIRONMENT=isolated-staging
SOURCE_SHA=REQUIRED_AT_RUNTIME
ODOO_IMAGE_DIGEST=REQUIRED_AT_RUNTIME
DATABASE_RESTORE_ID=REQUIRED_AT_RUNTIME
LIVE_ODOO_WRITE=false
ENABLE_EXTERNAL_DELIVERY=false
EMAIL_DELIVERY=false
SMS_DELIVERY=false
CALLBACK_DISPATCH=false
PSTN_DIALING=false
N8N_ACTIVATION=false
VICIDIAL_LIVE_CONTROL=false
PROVIDER_WRITE=false
SYNTHETIC_TEST_DATA_ONLY=true
REAL_CUSTOMER_DESTINATIONS_ALLOWED=false
